<!DOCTYPE html>
<html>
<head>
    <title>Terminal</title>
    <style>
        #terminal {
            width: 800px;
            height: 400px;
            border: 1px solid #ccc;
            overflow-y: scroll;
            padding: 10px;
            font-family: monospace;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function submitCommand() {
            var command = $('#command').val();
            $.ajax({
                type: 'POST',
                url: '/execute',
                data: {command: command},
                success: function(response) {
                    $('#terminal').append('<p>'+response.username+'&gt; ' + command + '</p>');
                    $('#terminal').append('<pre>' + response.result + '</pre>');
                    $('#command').val('');
                    $('#terminal').scrollTop($('#terminal')[0].scrollHeight);
                }
            });
        }
    
        $(document).ready(function() {
            $('#command').keypress(function(e) {
                if (e.which === 13) {
                    submitCommand();
                }
            });
    
            $('#submit').click(function() {
                submitCommand();
            });
        });
    </script>
    
</head>
<body>
    <h1>Drive de archivos Web</h1>
    <div id="terminal"></div>
    <input type="text" id="command" autofocus="autofocus">
    <button id="submit">Submit</button>
</body>
</html>
